body {
    background: linear-gradient(rgb(250, 190, 184),salmon) fixed;
    text-align: center;
}


.container {
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid black;
    background-color:white;

    animation: container-dropdown 1s ease-in-out;
}

div h1 {
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: 900;

    animation: fade-in 1s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    
    
}
div p {
    font-size: 20px;

    animation: fade-in 1s;
    animation-fill-mode: backwards;
    animation-delay: 1.2s;
}

div input, div button {
    animation: fade-in 1s;
    animation-fill-mode: backwards;
    animation-delay: 1.4s;
}

small {
    color:red;
    font-style: italic;
    animation: error 0.75s steps(1) infinite;
}

ul li {
    list-style: none;
    animation: fade-in 1s, move-up 1s;
}

.notCompleted {
    text-decoration: none;
}
.notCompleted span:nth-child(1){
    opacity: 1;
    transition: opacity 1s;
}

.notCompleted span:nth-child(1):hover {
    text-decoration: line-through;
}

.completed span:nth-child(1){
    text-decoration: line-through;
    opacity: 0.5;
    transition: opacity 0.5s;
    
}

@keyframes container-dropdown {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    50% {
        transform: translate(0, 25%);
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-up {
    0%{
        transform: translate(0, 100%);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes error {
    50% {
        visibility: hidden;
    }
}