body {
    background: linear-gradient(rgb(250, 190, 184),salmon) fixed;
    text-align: center;
}


.container {
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid black;
    background-color:white;
}

h1 {
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: 900;
}